<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>Flashcards</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'flashcards/styles/style.css' %}">
    <script src="https://kit.fontawesome.com/03a7d2955d.js" crossorigin="anonymous"></script>
</head>
    
<body>
    {% block cardSlides %}
    {% endblock cardSlides %}
    <div id="deckModal" class="modal">
        <div class="modal-content">
            <form action="create_deck/" method="post">
                {% csrf_token %}
                {{ f_deck.as_p }}
                <button type="submit" id="saveDeck" class="saveBtn">Save</button>
            </form>
        </div>
    </div>
    {% block cardModal %}
    {% endblock cardModal %}
    <div id="content">
        <nav class="sidebar">
            <div class="sidebar-header">
                <a href="/">Flashcards</a>
            </div>
            <div id="timer">
                <h2>Pomodoro Timer</h2>
                <p>0:00</p>
                <div id="timer-buttons">  
                    <button type="button" id="start">Start</button>
                    <button type="button" id="stop">Stop</button>
                    <button type="button" id="reset">Reset</button>
                </div>
            </div>
            <div id="decks">
                <h2>Decks</h3>
                {% for deck in decks %}
                    <a href="/deck/{{ deck.id }}" class="button deck">{{ deck.name }}</a>
                {% endfor %}
                <button type="button" id="createDeck">Create New Deck</button>
            </div>
            <div class="sidebar-footer">
                <button type="button" id="account">My account</button>
            </div>
        </nav>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </div>
    <script src="{% static 'flashcards/scripts/script.js' %}"></script>
    <!--<script src="{% static 'flashcards/scripts/pomodoro.js' %}"></script>-->
</body>

</html>