<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <title>Flashcards</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'flashcards/styles/style.css' %}">
</head>
    
<body>
    <div id="content">
        <nav class="sidebar">
            <div class="sidebar-header">
                <h1>Flashcards</h1>
            </div>
            <div id="timer">
                <h2>Pomodoro Timer</h2>
                <p>0:00</p>
                <button type="button" id="start">Start</button>
                <button type="button" id="stop">Stop</button>
                <button type="button" id="reset">Reset</button>
            </div>
            <div id="decks">
                <h2>Decks</h3>
                <button type="button" class="deck">A Deck</button>
                <button type="button" id="createDeck">Create New Deck</button>
            </div>
            <div class="sidebar-footer">
                <button type="button" id="account">My account</button>
            </div>
        </nav>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </div>
    <script src="{% static 'flashcards/scripts/script.js' %}"></script>
    <script src="{% static 'flashcards/scripts/pomodoro.js' %}"></script>
</body>

</html>